#styl1{
color:yellow;
font-size: 69px;
text-align: center;






}
body{
background-image:url(xd.jpg);
background-size: cover;





}
#odwrócony{
color: mediumblue;
background-color: gold;
text-align: center;




}






