#tr {
    color: white;
    text-align: center;
    font-size: 100px;
    background-color: #b8992c;
    width: 100%;
    height: 122px;
    position: relative;
    bottom: 67px;
    right: 8px;
    background-size: auto;
    font-family: 'Rubik', sans-serif;
}
header {
    background-color: #805a08;
    position: relative;
    left: -8px;
    right: 0;
    top: -134px;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    }
    header * {
    display: inline;
    }
    header li {
    margin: 20px;
    }
    header li a {
    color: white;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    }
    header li a:hover {
    font-weight: bold;
    text-decoration: underline;
    }
#gigachad {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: -100px;
}
#julus {
    font-family: 'Bonheur Royale', cursive;
    font-size: 150px;
    text-align: center;
    font-weight: bolder;
    margin-top: -30px;
}
html {
    background-color: beige;
}
#about {
    text-align: center;
    margin-top: -50px;
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Rubik', sans-serif;
}
#badpiggies {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#Dickscord {
    font-size: 40px;
    margin-top: -40px;
    font-weight: bolder;
    font-family: 'Rubik', sans-serif;
}
